/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
**/target/
**/.project
**/.classpath
**/.settings
**/.cache-main
**/.cache-test
IFC4.exp
activator*
**/.externalToolBuilders/